Este é um projeto pessoal desenvolvido e documentado por Vitor Conrado. Todos os dados são fictícios e foram obtidos na plataforma Alura, mais especificamente no curso denominado "Análise de dados com Python". Os dados se referem as vendas de produtos em um trmestre de um supermercado chamado "zoop megastore", a principal pergunta do projeto então é sobre como foi o desempenho das vendas nesse período.

# Passo 1 - Acesso aos dados

![Alt text: Logo da Zoop](https://github.com/alura-cursos/python-analise-chatgpt-assistente/blob/main/Logos%20e%20paleta%20-%20ZOOP/Logo%20fundo%20colorido%20(2).png?raw=true)

#### Inicialmente, importei os dados de um link direto no Github. Os salvei em uma variável chamada "url" para facilitar a exploração dos mesmos mais a frente no projeto.

In [21]:
url = 'https://github.com/alura-cursos/python-analise-chatgpt-assistente/raw/main/Dados/dados_vendas.json'

#### Nessa análise dos dados irei utilizar duas bibliotecas Python para obter as informações: numpy e pandas. Portanto o segundo passo é justamente importar as mesmas ao projeto. (Por boa prática adicionamnos uma abreviação as bibliotecas através do código "as abreviação da biblioteca")

In [24]:
import numpy as np
import pandas as pd

#### Com as bibliotecas já importadas irei ler o arquivo JSON salvo na variável URL através do pandas. Para isso adicionei as informações em um DataFrame denominado de "df", e usei o comando "pd" para usar uma função da biblioteca pandas, seguido de .read_json(url) para que o arquivo de formato JSON denominado de url anteriormente seja lido.
#### Para primeira visualização dos dados em formato de DataFrame usei a variável df que acabei de definir seguido do método .head () para que sejam exibidas as 5 primeiras linhas do DataFrame.

In [27]:
df = pd.read_json(url)

In [28]:
df.head()

,item_identificador,loja_identificador,vendas_totais,item,loja
0,FDB08,OUT018,176503.58,"{'item_peso': 6.055, 'item_conteudo_gordura': ...","{'loja_ano_estabelecimento': 2019, 'loja_taman..."
1,DRQ35,OUT049,185758.20,"{'item_peso': 9.3, 'item_conteudo_gordura': 'B...","{'loja_ano_estabelecimento': 2009, 'loja_taman..."
2,FDD14,OUT018,165983.94,"{'item_peso': 20.7, 'item_conteudo_gordura': '...","{'loja_ano_estabelecimento': 2019, 'loja_taman..."
3,FDY37,OUT045,314923.40,"{'item_peso': 17.0, 'item_conteudo_gordura': '...","{'loja_ano_estabelecimento': 2012, 'loja_taman..."
4,FDY59,OUT018,64782.34,"{'item_peso': 8.195, 'item_conteudo_gordura': ...","{'loja_ano_estabelecimento': 2019, 'loja_taman..."

#### Após a primera visualização me deparei com o primeiro desafio com relação aos dados. Se observarmos atentamente as colunas "item" e "loja" percebemos que contêm dicionários aninhados dentro de cada uma das linhas, e como dicionários são baseados em chave e valor, essas informações aninhadas seriam melhor aproveitadas casos se tornassem colunas independentes. 

#### Para que esse problema fosse sanado utilizei pd.json_normalize para que os dados fossem convertidos em colunas. Como os dados estão em formatos de dados, com isso as chaves se tornam as colunas e os valores se tornam suas linhas correspondentes. Após salvar essas novas expanções concatenei as informações no DataFrame com pd.concat, e exclui as colunas que estavam aninhadas.

In [33]:
# Expanção da coluna 'item'
item_df = pd.json_normalize(df['item'])

# Expanção da coluna 'loja'
loja_df = pd.json_normalize(df['loja'])

# Concatenação dos DataFrames e exclusão das colunas que estavam aninhadas 'item' e 'loja'
df = pd.concat([df.drop(columns=['item', 'loja']), item_df, loja_df], axis=1) # axis=1 é usado para que as colunas sejam concatenadas de maneira horizontal
df.head()

,item_identificador,loja_identificador,vendas_totais,item_peso,item_conteudo_gordura,item_visibilidade,item_tipo,item_preco,item_quantidade_venda,loja_ano_estabelecimento,loja_tamanho,loja_tipo_localizacao,loja_tipo
0,FDB08,OUT018,176503.58,6.055,Baixo Teor de Gordura,0.031230,Frutas e Vegetais,160.36,None,2019,Médio,Nível 3,Supermercado Tipo 2
1,DRQ35,OUT049,185758.20,9.300,Baixo Teor de Gordura,0.042357,Bebidas Alcoólicas,123.24,None,2009,Médio,Nível 1,Supermercado Tipo 1
2,FDD14,OUT018,165983.94,20.700,Baixo Teor de Gordura,0.170500,Enlatados,184.13,None,2019,Médio,Nível 3,Supermercado Tipo 2
3,FDY37,OUT045,314923.40,17.000,Regular,0.026623,Enlatados,144.25,None,2012,None,Nível 2,Supermercado Tipo 1
4,FDY59,OUT018,64782.34,8.195,Baixo Teor de Gordura,0.000000,Confeitaria,93.15,None,2019,Médio,Nível 3,Supermercado Tipo 2

# Passo 2 - Exploração dos dados

#### Após o passo 1, o DataFrame ficou dessa maneira:

In [41]:
df.head()

,item_identificador,loja_identificador,vendas_totais,item_peso,item_conteudo_gordura,item_visibilidade,item_tipo,item_preco,item_quantidade_venda,loja_ano_estabelecimento,loja_tamanho,loja_tipo_localizacao,loja_tipo
0,FDB08,OUT018,176503.58,6.055,Baixo Teor de Gordura,0.031230,Frutas e Vegetais,160.36,None,2019,Médio,Nível 3,Supermercado Tipo 2
1,DRQ35,OUT049,185758.20,9.300,Baixo Teor de Gordura,0.042357,Bebidas Alcoólicas,123.24,None,2009,Médio,Nível 1,Supermercado Tipo 1
2,FDD14,OUT018,165983.94,20.700,Baixo Teor de Gordura,0.170500,Enlatados,184.13,None,2019,Médio,Nível 3,Supermercado Tipo 2
3,FDY37,OUT045,314923.40,17.000,Regular,0.026623,Enlatados,144.25,None,2012,None,Nível 2,Supermercado Tipo 1
4,FDY59,OUT018,64782.34,8.195,Baixo Teor de Gordura,0.000000,Confeitaria,93.15,None,2019,Médio,Nível 3,Supermercado Tipo 2

In [47]:
#### Usando .info() para obter informações gerais sobre o DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8550 entries, 0 to 8549
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   item_identificador        8550 non-null   object
 1   loja_identificador        8550 non-null   object
 2   vendas_totais             8550 non-null   float64
 3   item_peso                 7081 non-null   float64
 4   item_conteudo_gordura     8550 non-null   object
 5   item_visibilidade         8550 non-null   float64
 6   item_tipo                 8550 non-null   object
 7   item_preco                8550 non-null   float64
 8   item_quantidade_venda     0 non-null      object
 9   loja_ano_estabelecimento  8550 non-null   int64
 10  loja_tamanho              6133 non-null   object
 11  loja_tipo_localizacao     8550 non-null   object
 12  loja_tipo                 8550 non-null   object
dtypes: float64(4), int64(1), object(8)
memory usage: 868.5+ KB

In [49]:
# O .describe exibe estatísticas descritivas para colunas numéricas
df.describe()

,vendas_totais,item_peso,item_visibilidade,item_preco,loja_ano_estabelecimento
count,8.550000e+03,7081.000000,8550.000000,8550.000000,8550.000000
mean,2.181949e+05,12.855023,0.066150,141.007453,2007.830409
std,1.708098e+05,4.643508,0.051578,62.333062,8.372541
min,3.329000e+03,4.555000,0.000000,31.290000,1995.000000
25%,8.349132e+04,8.770000,0.027024,93.787500,1997.000000
50%,1.794331e+05,12.600000,0.053978,142.935000,2009.000000
75%,3.100963e+05,16.850000,0.094646,185.760000,2014.000000
max,1.308696e+06,21.350000,0.328391,266.890000,2019.000000

In [53]:
# .nunique retorna a quantidade de valores únicos em cada coluna
df.nunique()

item_identificador          1559
loja_identificador            10
vendas_totais               3493
item_peso                    415
item_conteudo_gordura          5
item_visibilidade           7880
item_tipo                     16
item_preco                  4839
item_quantidade_venda          0
loja_ano_estabelecimento       9
loja_tamanho                   3
loja_tipo_localizacao          3
loja_tipo                      4
dtype: int64

In [55]:
# Verificar se existem linhas duplicadas (.sum() funciona para que a soma seja feita)
df.duplicated().sum()

27

In [60]:
# Verificar se existem valores ausentes
df.isnull().sum()

item_identificador             0
loja_identificador             0
vendas_totais                  0
item_peso                   1469
item_conteudo_gordura          0
item_visibilidade              0
item_tipo                      0
item_preco                     0
item_quantidade_venda       8550
loja_ano_estabelecimento       0
loja_tamanho                2417
loja_tipo_localizacao          0
loja_tipo                      0
dtype: int64

In [62]:
# NOTA: A coluna item_quantidade_venda apresenta todos valores ausentes. loja_tamanho e item_peso também apresentam valores expressivos de valores nulos.

#### Após as explorações dos dados e do que os mesmos representam, tivemos alguns insights sobre as informações que esses dados retornam. O primeiro insight interessante é sobre a coluna item_conteudo_gordura, que durante a consulta apresentou 5 valores únicos. Normalmente não temos tantos valores diferentes com relação a gordura, então utilizei .unique() para que esses valores fossem mostrados, e descobri que na verdade as informações se referem a apenas dois níveis de gordura: Baixo e regular, porém devido as nomeações diferentes das informações, é como se tivessem 5 valores diferentes nessa coluna.

In [60]:
df['item_conteudo_gordura'].unique()

array(['Baixo Teor de Gordura', 'Regular', 'BTG', 'reg',
       'baixo teor de gordura'], dtype=object)

# Passo 3 - Limpeza e tratamento

#### Durante a exploração dos dados notei 3 inconsistências principais que podem inteferir que as informações sejam 100% precisas:

#### - Linhas duplicadas
#### - Valores Nulos
#### - Dados categóricos escritos de uma maneira não padronizadam.

#### No contexto do projeto, as informações são sobre itens específicos vendidos de maneira individual, portanto decidi excluir as linhas duplicadas para que os valores não interfiram nas informações gerais

In [77]:
df = df.drop_duplicates()
df

,item_identificador,loja_identificador,vendas_totais,item_peso,item_conteudo_gordura,item_visibilidade,item_tipo,item_preco,item_quantidade_venda,loja_ano_estabelecimento,loja_tamanho,loja_tipo_localizacao,loja_tipo
0,FDB08,OUT018,176503.58,6.055,Baixo Teor de Gordura,0.031230,Frutas e Vegetais,160.36,None,2019,Médio,Nível 3,Supermercado Tipo 2
1,DRQ35,OUT049,185758.20,9.300,Baixo Teor de Gordura,0.042357,Bebidas Alcoólicas,123.24,None,2009,Médio,Nível 1,Supermercado Tipo 1
2,FDD14,OUT018,165983.94,20.700,Baixo Teor de Gordura,0.170500,Enlatados,184.13,None,2019,Médio,Nível 3,Supermercado Tipo 2
3,FDY37,OUT045,314923.40,17.000,Regular,0.026623,Enlatados,144.25,None,2012,None,Nível 2,Supermercado Tipo 1
4,FDY59,OUT018,64782.34,8.195,Baixo Teor de Gordura,0.000000,Confeitaria,93.15,None,2019,Médio,Nível 3,Supermercado Tipo 2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8545,FDY08,OUT010,28096.76,9.395,Regular,0.286345,Frutas e Vegetais,139.18,None,2008,None,Nível 3,Mercado
8546,FDC41,OUT017,130163.90,15.600,Baixo Teor de Gordura,0.117575,Alimentos Congelados,75.67,None,2017,None,Nível 2,Supermercado Tipo 1
8547,NCQ53,OUT045,614533.40,17.600,Baixo Teor de Gordura,0.018944,Mercearia,237.36,None,2012,None,Nível 2,Supermercado Tipo 1
8548,FDL46,OUT017,164985.24,20.350,baixo teor de gordura,0.054363,Lanches,117.95,None,2017,None,Nível 2,Supermercado Tipo 1
8549,NCN30,OUT046,96541.00,16.350,BTG,0.016993,Cereais,95.74,None,2007,Pequeno,Nível 1,Supermercado Tipo 1

In [81]:
# O número de rows caiu, portanto já temos a confirmação que as linhas duplicadas foram excluídas corretamente.

#### Prosseguindo, temos 3 colunas que apresentam valores nulos. Comecei pela mais fácil: item_quantidade_venda, que é uma coluna que possui TODOS os valores nulos, portnato não teremos nenhum insight extraído da mesma, dessa maneira decidi excluir a colna para evitar distorção nas análises

In [86]:
df = df.drop(columns=['item_quantidade_venda'])

#### A próxima coluna que possui valores nulos é item_peso. Nesse caso não irei excluir, pois possui informações importantes, irei adicionar o valor da média nos valores nulos para que as informaçãoes não sejam tão distorcidas. Para isso utilizei o método .fillna.

In [90]:
df['item_peso'].fillna(df['item_peso'].mean(), inplace=True)
# inplace = True serve para que as informações sejam salvas diretamente no DataFrame raíz.
# NOTA: Essa mensagem abaixo aparece apenas como um aviso que o método inplace não será suportado a partir do pandas 3.0. o código alternativo seria atribuir um novo valor dessa maneira df['item_peso']=df['item_peso'].fillna(df['item_peso'].mean(), inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_11900\3038743284.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['item_peso'].fillna(df['item_peso'].mean(), inplace=True)

#### E por fim, a coluna de tamanho de loja também possui informações importantes, então decidi criar uma quarta categoria chamada "Desconhecido". Utilizei o método fillna.

In [99]:
df['loja_tamanho'].fillna('Desconhecido', inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_11900\1922140976.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['loja_tamanho'].fillna('Desconhecido', inplace=True)

In [103]:
# NOTA: Essa mensagem abaixo aparece apenas como um aviso que o método inplace não será suportado a partir do pandas 3.0. o código alternativo seria atribuir um novo valor dessa maneira df['loja_tamanho']=df['loja_tamanho'].fillna('Desconhecido', inplace=True)

In [101]:
# Verificação dos valores após a limpeza e tratamento dos dados

df.isnull().sum()

item_identificador          0
loja_identificador          0
vendas_totais               0
item_peso                   0
item_conteudo_gordura       0
item_visibilidade           0
item_tipo                   0
item_preco                  0
loja_ano_estabelecimento    0
loja_tamanho                0
loja_tipo_localizacao       0
loja_tipo                   0
dtype: int64

#### A última etapa de limpeza e tratamento dos dados é padronizar os dados categóricos na  coluna que informa os teores de gordura. Para realizar esse processo irei utilizar o método .replace()

In [109]:
# Realizando o mapeamento em formato de dicionário para que os valores sejam padronizados
mapeamento = {
    'Baixo Teor de Gordura': 'Baixo Teor de Gordura',
    'BTG': 'Baixo Teor de Gordura',
    'baixo teor de gordura': 'Baixo Teor de Gordura',
    'Regular': 'Regular',
    'reg': 'Regular'
}

# Substituindo os valores com método .replace()
df['item_conteudo_gordura'] = df['item_conteudo_gordura'].replace(mapeamento)

# Verificando se existem apenas duas categorias como esperávamos
df['item_conteudo_gordura'].unique()

array(['Baixo Teor de Gordura', 'Regular'], dtype=object)

# Passo 4 - Visualização dos dados

#### Após a limpeza e o tratamento dos dados irei realizar o download do arquivo em formato CSV para poder utilizar o POWER BI para visualização dos dados.

In [116]:
df.to_csv('data_analysis_zoop.csv', index=False)